<div class="container-xxl">
    <div class="card">
        <img src="../../../assets/me.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Brian Sabaski</h4>
          <p class="card-text">Estudiante de desarrollo Web</p>
          <a href="#" class="btn"><fa-icon [icon]="faLocationDot"></fa-icon> Misiones (Argentina)</a>
        </div>
      </div>
      <div class="container-lg"> 
                <div class="h2-about">
          <h2>Acerca de</h2>
        </div>
        <button class="btn btn-pen"> <fa-icon [icon]="faPen"></fa-icon></button>
        <p class="p-about">
          Estudiante de desarrollo web
        </p>
      </div>

</div>

