
.jumbotron {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/assets/laptop.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    border-radius: 1px;

  }


.container {
    text-align: center;
    position: relative;
    top: 30%;
}

.card {
  display: flex;
}
