<div class="container-xxl">

    <div class="container-projects h2-title">
        <h2>Proyectos</h2>
        <button class="btn btn-add"> <fa-icon [icon]="faAdd"></fa-icon></button>
    </div>

    <div class="container"> 
    <div class="projects-container first-project">
       <div class="link"> 
        <a href="#">{{portfolio.projects.firstProjectName}}</a>
            <div class="btns">
                <button class="btn btn-pen"> <fa-icon [icon]="faPen"></fa-icon></button>
                <button class="btn btn-trash"> <fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <p>{{portfolio.projects.valueFirstProject}}</p>
    </div>
    <div class="projects-container second-project">
        <div class="link"> 
            <a href="#">{{portfolio.projects.secondProjectName}}</a>
             <div class="btns">
                 <button class="btn btn-pen"> <fa-icon [icon]="faPen"></fa-icon></button>
                 <button class="btn btn-trash"> <fa-icon [icon]="faTrash"></fa-icon></button>
             </div>
         </div>
         <p>{{portfolio.projects.valueSecondProject}}</p>
     </div>
    </div>
</div>
