.container-xxl {
    padding: 0;
    border: 2px solid #8d8d8d6b;
    border-radius: 2rem ;
    width: 97%;
    height: max-content;

}

.container-fluid {
    width: 100%;
    height: 50%;
}

.container-experience, .container-education {
    display: flex;
    flex-direction: column;

}

.h2-experience, .h2-education {
    text-shadow: -7px 3px 10px rgba(150, 149, 149, 0.67);
    height: fit-content;
    margin-top: .7rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

}

.img-programmer, .img-school {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;

}



.actualJob {
    width: max-content;
    /* box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    -webkit-box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    -moz-box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85); */
    text-shadow: -7px 3px 10px rgba(255,255,255,0.67);
    /* background: rgb(155, 190, 255);
    background: linear-gradient(0deg, rgba(189,206,237,1) 6%, rgba(186,150,255,1) 56%); */
    color: #292727;
    width: 100%;
    border-radius: 10px;
}


.borderr{
    background: rgb(189,206,237);
    background: linear-gradient(0deg, rgba(189,206,237,1) 0%, rgba(202,173,255,1) 54%);
    display: flex;
    flex-direction: column;
    min-width: min-content;
    width: 30%;
    border: 2px solid #7f63ff;
    border-radius: 10px;
    border-style: inset;
    padding: 2px;
}


.image {
    display: flex;
    flex-direction: column;

}

.h2-education {
    margin-top:  5rem;
}


img {
    width: 60px; 
    margin-right: .10rem;
}
