.container-xxl {
    padding: 0;
    border: 2px solid #8d8d8d6b;
    border-radius: 2rem ;
    width: 97%;
    height: max-content;

}

.container-fluid {
    width: 100%;
    height: 50%;
}

.container-experience, .container-education {
    display: flex;
    flex-direction: column;

}

.actualJob{
    color: #700cce;
}

.h2-experience, .h2-education {
    text-shadow: -7px 3px 10px rgba(150, 149, 149, 0.67);
    height: fit-content;
    margin-top: .7rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

}

.img-programmer, .img-school {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;

}


.actualJob {
    width: max-content;
    /* box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    -webkit-box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    -moz-box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85); */
    text-shadow: -7px 3px 10px rgba(255,255,255,0.67);
    /* background: rgb(155, 190, 255);
    background: linear-gradient(0deg, rgba(189,206,237,1) 6%, rgba(186,150,255,1) 56%); */
    color: #292727;
    width: 100%;
    border-radius: 10px;
}




.image {
    display: flex;
    flex-direction: column;

}

.h2-education {
    margin-top:  5rem;
}

.finished-career, .finished-school, .initial-and-final-date{
    color: #474646;
}

.h4-school, .h4-career {
    color:#700cce;
}

button:hover{
    color: #700cce;
}

img {
    width: 60px; 
    margin-right: .10rem;
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #292828;
    color: #fff;
    font-size: 14px;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #ffffff;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}

[data-title] {
    position: relative;
}