.container-xxl {
    padding: 0;
    border: 2px solid #8d8d8d6b;
    border-radius: 2rem ;
    width: 97%;
    height: 500px;

}

.container-fluid {
    width: 100%;
    height: 50%;
}

.container-experience, .container-education {
    display: flex;
    flex-direction: column;

}

.h2-experience, .h2-education {
    height: fit-content;
    margin-top: .7rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

}

.img-programmer, .img-school {
    display: flex;  
    align-items: center;
    justify-content: space-between;

}

.actualJob {
    width: max-content;
    box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    -webkit-box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    -moz-box-shadow: -9px 8px 21px -7px rgba(120,120,120,0.85);
    text-shadow: -7px 3px 10px rgba(255,255,255,0.67);
    background: rgb(189,206,237);
    background: linear-gradient(0deg, rgba(189,206,237,1) 6%, rgba(186,150,255,1) 56%);
}

.image {
    display: flex;
    flex-direction: column;

}

img {
    width: 60px; 
    margin-right: .10rem;
}