<div class="container-xxl">
    <div class="container-fluid container-experience" >
    <div class="h2-experience" >
        <h2 class="experience">Experiencia</h2>
        <button class="btn btn-add"  [routerLink]="['/add-experience', id]"> <fa-icon [icon]="faAdd"></fa-icon></button>
        </div>
        <div class="img-programmer" *ngFor="let item of list">
           <div class="borderr"> 
               
               <h3 class="actualJob" style="color:#700cce">
                <img src="../../../assets/programmer.svg" alt="">
                {{item.trabajoActual}} </h3>
            <p class="ml-2"> <b> {{item.nombreEmpresa}}</b>
            <span class="initial-and-final-date"> ({{item.fechaInicio}} - {{item.fechaFin}})</span></p>
        </div>
            <div class="btns" >
                <button class="btn btn-pen" [routerLink]="['/add-experience', item.id]" > <fa-icon [icon]="faPen"></fa-icon></button>
                <button class="btn btn-trash"   (click)="deleteExperience(item.id)"> <fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
        </div>

    </div>
   
   


   
   
    <div class="container-fluid container-education">
       
       
        <div class="h2-education">
            <h2>Educación</h2>
            <button class="btn btn-add" [routerLink]="['/add-education', id]"> <fa-icon [icon]="faAdd"></fa-icon></button>
        </div>
        <div class="img-school" *ngFor="let list of listEducation"> 
            <div class="image"> 
        <h3 class="h4-school" >
            <img class="image-school" src="../../../assets/school.svg" alt="school-logo">
            {{list.highSchoolName}} 
        </h3>
            <p  class="finished-school" > Fecha de finalización: {{list.highSchoolFinished}}</p>
            <h3 class="h4-career">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Harvard_University_shield.png" alt="university-logo">
                {{list.careerName}} 
            </h3>
            <p class="mb-sm-5 finished-career"> Fecha de finalización: {{list.careerFinished}}</p>
        </div>
        
        <div class="btns">
            <button class="btn btn-pen" > <fa-icon [icon]="faPen"  [routerLink]="['/add-education', list.id]"></fa-icon></button>
            <button class="btn btn-trash" (click)="deleteEducation(list.id)"> <fa-icon [icon]="faTrash"></fa-icon></button>
        </div>
    </div>
    </div>
    


</div>