<div class="container-xxl">
    <div class="container-fluid container-experience" *ngFor="let item of list">
        <div class="h2-experience">
            <h2 class="experience">Experiencia</h2>
            <button class="btn btn-add" [routerLink]="['/add-experience', item.id]"> <fa-icon [icon]="faAdd"></fa-icon></button>
        </div>
        <div class="img-programmer">
           <div > 
            <h3 class="actualJob"> {{item.trabajoActual}} </h3>
            <p> <b> {{item.nombreEmpresa}}</b>
            ({{item.fechaInicio}} - {{item.fechaFin}})</p>
        </div>
            <div class="btns">
                <button class="btn btn-pen"> <fa-icon [icon]="faPen"></fa-icon></button>
                <button class="btn btn-trash"> <fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
        </div>

    </div>
   
   

    
   
   
    <div class="container-fluid container-education">
       
       
        <div class="h2-education">
            <h2>Educación</h2>
            <button class="btn btn-add"> <fa-icon [icon]="faAdd"></fa-icon></button>
        </div>
        <div class=" img-school"> 
            <div class="image"> 


        <h4 class="">
            <img src="../../../assets/school.svg"  class="" alt=""> 
            Sipted</h4>
            <p>2019-2021</p>
        </div>
            <div class="btns">
                <button class="btn btn-pen"> <fa-icon [icon]="faPen"></fa-icon></button>
                <button class="btn btn-trash"> <fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
    </div>
    


</div>